site/
*.DS_Store
docs-2.0/19.FAQ/
.github/workflows/test.yml
docs-2.0/20.appendix/0.vid.md
docs-2.0/20.appendix/how-to-contribute.md
docs-2.0/3.ngql-guide/6.functions-and-expressions/9.user-defined-functions.md
docs-2.0/README.md


