mkdocs==1.3.0
mkdocs-material-extensions
mkdocs-material
mkdocs-macros-plugin
mike
mdx_truly_sane_lists
mkdocs_latest_release_plugin
mkdocs-git-revision-date-localized-plugin
weasyprint==54.3
mkdocs-with-pdf
qrcode
mkdocs-exclude

